<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LISTA DE CIUDADES</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> Lista de ciudades</h1>
        <button> 
            <a th:href="@{/city/form}">
                CREAR CIUDAD
            </a>
        </button>
        <a th:href="@{/}" ><h4>VOLVER</h4></a>
        <p th:if="${error}" th:text="${error}" style="color: red"></p>
        <p th:if="${succes}" th:text="${succes}" style="color: green"></p>
        <table>
            <br>
            <br>
            <form th:action="@{/city/list}" method="GET">
                <input type="text" name="c" placeholder="buscar ciudad" />
                <input type="submit" value="Buscar" name="Buscar" />                
            </form>
            <br>
            <br>                
            <thead>
                <tr>
                    <th> N°</th>
                    <th> Nombre</th>
                    <th> Acciones </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "city,iterator : ${city}">
                    <td th:text="${iterator.index+1}" ></td>
                    <td th:text="${city.cityName}" ></td>
                    <td>
                        <button> <a th:href ="@{/city/delete}+'?id='+${city.id}"> Eliminar </a></button>
                    </td>
                    <td>
                        <button> <a th:href ="@{/city/form}+'?id='+${city.id}"> Modificar</a></button>
                    </td>
                </tr>
            </tbody>
            <p th:if="${city.isEmpty}">No hay ciudades para mostrar</p>
        </table>
    </body>
</html>
