<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LISTA DE USUARIOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> Lista de usuarios </h1>
        <button> 
            <a th:href="@{/person/form}">
                CREAR USUARIO
            </a>
        </button>
        <a th:href="@{/}" ><h4>VOLVER</h4></a>
        <p th:if="${error}" th:text="${error}" style="color: red"></p>
        <p th:if="${succes}" th:text="${succes}" style="color: green"></p>
        <table>
            <br>
            <br>
            <form th:action="@{/person/list}" method="GET">
                <input type="text" name="q" placeholder="buscar usuario" />
                <input type="submit" value="Buscar" name="Buscar" />                
            </form>
            <br>
            <br>                
            <thead>
                <tr>
                    <th> N°</th>
                    <th> Nombre</th>
                    <th> Apellido</th>
                    <th> Edad</th>
                    <th> Ciudad </th>
                    <th> Acciones </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "p,iterator : ${person}">
                    <td th:text="${iterator.index+1}" ></td>
                    <td th:text="${p.name}" ></td>
                    <td th:text="${p.lastName}" ></td>
                    <td th:text="${p.age}" ></td>
                    <td th:text="${p.city} == null ? 'Campo no completado' : ${p.city.cityName}" ></td>
                    <td>
                        <button> <a th:href ="@{/person/delete}+'?id='+${p.id}"> Eliminar </a></button>
                    </td>
                    <td>
                        <button> <a th:href ="@{/person/form}+'?id='+${p.id}"> Modificar</a></button>
                    </td>
                </tr>
            </tbody>
            <p th:if="${person.isEmpty}">No hay usuarios para mostrar</p>
        </table>
    </body>
</html>
